@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@font-face {
  font-family: "Minecraft";
  src: url("../font/minecraft.woff2") format("woff2");
}
.item-l1 > div:nth-child(2) > div {
  text-indent: 2em;
}
.item-l2 > div:nth-child(2) > div {
  text-indent: 4em;
}
.item-l3 > div:nth-child(2) > div {
  text-indent: 6em;
}
.item-l1 {
  background-color: var(--accent-bg);
  border: dashed 2px;
  padding: 5px;
  margin: 5px;
  position: relative;
  min-width: 500px;
}
.item-l1 > div:nth-child(1) > span:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
}
textarea {
  font-family: Consolas, Microsoft Yahei;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 300px;
  height: 300px;
}
button.danger {
  background-color: rgb(171, 11, 11);
}
.info::before {
  content: "ℹ️";
}
.info {
  color: darkgreen;
  font-size: 14px;
}
body {
  grid-template-columns: 1fr min(70rem, 90%) 1fr;
}
button {
  margin: 0.4rem 0.5rem;
}
.disappear {
  animation: appear 0.3s linear 0s 1 reverse forwards;
}
.appear {
  animation: appear 0.3s linear 0s 1 normal forwards;
}
.query-result-container {
  background-color: var(--bg);
  padding: 0.5rem;
  max-height: 20rem;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 10rem;
}
.query-result-container > * {
  background-color: var(--accent-bg);
  margin: 0.5rem;
}
.query-result-container > button {
  color: var(--text);
}
